/* 모든 스타일 초기화 */
button {
    all: unset;
    background-color: red;
    padding: 5px;
    border-radius: 15px;
    font-weight: bold;
}

.tab {
    all: unset;
    background-color: dodgerblue;
    padding: 0 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 3px;
    font-weight: bold;
}

.start {
    opacity : 0;
    /*transform: scale(0);*/
}

.end {
    opacity: 1;
    /*transform: scale(1);*/
    transition : opacity 0.5s;
}