body {
  background: black;
  color :white;
}

/*header*/
.black-nav{
  width : 100%;
  display: flex;
  flex-direction: column;
  padding : 10px;
}

.top-nav {
  border-bottom: 1px solid #eee;
  /*background-color: green;*/
  display: flex;
  justify-content: space-around;
}

.cine-title {
  /*border: 1px solid yellow;*/
}

.top-main-nav1 {
  font-size: 0.8em;
  flex :0.5;
  /*border : 1px solid blue;*/
  display: flex;
  text-align: center;
  align-items: center;
  cursor : pointer;
}

.top-main-nav2 {
  width: 100%;
  display: flex;
  justify-content : space-around;
  align-items: center;
  /*border : 1px solid red;*/
}

.top-main-nav2 :hover {
  color : #55dad2;
  font-weight: bold;
}

.below-nav {
  /*background-color: pink;*/
  border-bottom: 1px solid #eee;
}

.below-main-nav {
  /*color: red;*/
  display: flex;
  justify-content: space-around;
  cursor : pointer;
  letter-spacing: 3px;
}

.below-main-nav > *:hover {
  color : #55dad2;
  font-weight: bold;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* body main area*/
.body-area {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.body-area section {
  flex:3;
}

.body-area footer {
  flex: 1;
}

.main-area {
  /*background-color: green;*/
}

/*footer*/
.footer-area {
  border-top: 0.5px solid #eee;
  /*margin-top: 5%;*/
  padding-top: 3%;
  /*background-color: blue;*/
  font-size: smaller;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: yellow;
}